<%-contentFor('body') %>
<script src="/js/admin/vipStatus.js"></script>
  <h1>Редактирование пользователя</h1>
  <form method="POST" action="/admin/direction/vipstatus/edit/<%=user.userId%>/save">
    <label for="name">Имя:</label>
    <input typetext" name="name" value="<%=user.userName%>" required><br>

    <label for="level">Уровень:</label>
    <input type="number" name="level" value="<%=user.lvl%>" id="lvl" required>
    <button type="button" onclick="decreaseValue('lvl')">-</button>
    <button type="button" onclick="increaseValue('lvl')">+</button>
    <br>

    <label for="experience">Опыт:</label>
    <input type="number" name="experience" value="<%=user.exp%>" id="experience" required>
    <button type="button" onclick="updateValue('experience', -100)">-100</button>
    <button type="button" onclick="updateValue('experience', -10)">-10</button>
    <button type="button" onclick="updateValue('experience', -1)">-1</button>
    <button type="button" onclick="updateValue('experience', 1)">+1</button>
    <button type="button" onclick="updateValue('experience', 10)">+10</button>
    <button type="button" onclick="updateValue('experience', 100)">+100</button>
    <br>

    <label for="balance">Баланс:</label>
    <input type="number" name="money" value="<%=user.balance%>" id="balance" required>
    <button type="button" onclick="updateValue('balance', -100)">-100</button>
    <button type="button" onclick="updateValue('balance', -10)">-10</button>
    <button type="button" onclick="updateValue('balance', -1)">-1</button>
    <button type="button" onclick="updateValue('balance', 1)">+1</button>
    <button type="button" onclick="updateValue('balance', 10)">+10</button>
    <button type="button" onclick="updateValue('balance', 100)">+100</button>
    <br>

    <button type="submit">Сохранить</button>
    <button type="button"><a href="/admin/direction/vipstatus/delete/<%=user.userId%>">Удалить</a></button>
    <button><a href="/admin/direction/vipstatus">Назад</a></button>
  </form>